.primary-color {
  color: black !important;
}

.bg-primary-color {
  background-color: #1b2130 !important;
  color: white !important;
}

.white-color {
  color: white;
}

.navbar-width {
  width: 25vw;
}

.circle {
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.circle1 {
  background-color: #ff6252;
}
.circle2 {
  background-color: #fdad15;
}
.circle3 {
  background-color: #2ac670;
}

.navbar-search {
  background-color: black;
  color: white;

  border: 0;
}

.selected-navbar {
  background-color: #007aff;
  color: white;
  border-radius: 8px;
  border: 0px;
}

.padding-extra {
  padding: 20px 20px;
}

.width-35 {
  width: 35%;
}

.form-border {
  border: 2px solid blue;
  padding: 10px;
  border-radius: 12px;
}

.login > .form-control,
.login > .input-group-text,
.register > .form-control,
.register > .input-group-text {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}

.login > .form-control,
.register > .form-control {
  border-left: 2px solid blue;
}

.login > .input-group-text,
.register > .input-group-text {
  border-right: 2px solid blue;
}

.selected-category,
.selected-category:hover,
.selected-category:active {
  background-color: #fff3cd;
  color: #664d03;
  border: 0;
}

.not-selected-category,
.not-selected-category:hover,
.selected-category:active {
  background-color: #7749f8;
  color: white;
  border: 0;
}
